
<h1>
    {{ ( producto._id ) ? 'Editar' : 'Nuevo' }}

    Producto 
    <small>{{ producto.nombre }}</small> 
</h1>

<div fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="40px">
    <div fxFlex="50"
         fxLayout="column"
         
         >

        <div fxLayout="row" fxLayout.lt-sm="column"  fxLayoutGap="20px"
             >
            
            <mat-form-field fxFlex="100" >
                <mat-label>Nombre Del producto</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="producto.nombre"
                       required>
                       
            </mat-form-field>
            <mat-form-field fxFlex="100">
                    <mat-label>Seleccione categoria</mat-label>
                    <mat-select
                                [(ngModel)]="producto.categoria" 
                                required>
                                
                                
                        <mat-option *ngFor="let categoria of categorias; let i = index" 
                                    [value]="categoria._id"
                                    >
                                    {{ categoria.nombre }}
                        </mat-option>
                    </mat-select>     
            </mat-form-field>

        </div>
    
        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="producto.descripcion"
                   required>
        </mat-form-field>
       
        <mat-form-field>
            <mat-label>Precio</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="producto.precio"
                   required>
        </mat-form-field>

        <mat-form-field>    
            <ngx-mat-file-input [(ngModel)]="imagen" required placeholder="Subir imagen" ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        <br>
        <div fxLayout>

            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                 {{ ( producto._id ) ? 'Actualizar' : 'Crear' }}
            </button>
            
            <span class="spacer"></span>

            <button *ngIf="producto._id"
                    mat-raised-button
                    color="warn"
                    (click)="borrarProducto()"
                    >
                <mat-icon>remove</mat-icon>
                Borrar Producto   
            </button>   
        </div>
    </div>

    <div fxLayoutAlign.lt-md="center"  fxFlex="30">
        <mat-card>
            <img [src]="producto | imagen" width="100%" height="100%">
        </mat-card>
    </div>
</div>